<div class="comments">
  {{#each this}}
    <section class="comment">
      <div class="comment-content">
        <p>{{comment_text}}</p>
      </div>
      <div class="meta">
        —{{user.username}}
        on
        {{format_date created_at}}
      </div>
    </section>
  {{/each}}
</div>