<div class="comments">
  {{#each this}}
    <section class="box comment">
      <div class="box-heading"></div>
      <div class="comment-content">
        <p>{{comment_text}}</p>
      </div>
      <div class="meta meta-comment">
        —{{user.username}}
        on
        {{format_date created_at}}
      </div>
    </section>
  {{/each}}
</div>