<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Say What You Will</title>
    {{! Stylesheet in Public Folder }}
    <link rel="stylesheet" href="/stylesheets/style.css" />
    {{! Gets rid of favicon error }}
    <link rel="icon" href="data:;base64,=" />
  </head>

  <body>
    <header>
      <div class="header-wrapper">
        <nav>
          <a href="/">Home</a>
          {{#if loggedIn}}
            {{! Directly logs you out }}
            <button id="logout">Logout</button>
          {{else}}
            {{! Takes to the login page }}
            <a href="/login">Login</a>
          {{/if}}
        </nav>
        <h1>
          Say What You Will
        </h1>
      </div>
    </header>
    {{{body}}}
  </body>
</html>