{{#each posts as |post|}}
  <article class="dashboard-post-wrapper">
    <a href="dashboard/{{post.id}}" class="dashboard-post-link">
      <div class="dashboard-post">
        <h2 class="title">{{post.title}}</h2>
        <p class="meta">{{format_date post.created_at}}</p>
      </div>
    </a>
  </article>
{{/each}}