<article class="box post update-post">
  <div class="post-heading">
    <div class="title">Create New Post</div>
  </div>
  <div class="update-wrapper">
    <div>
      <label for="edit-post-title">Title</label>
      <input type="text" name="edit-post-title" id="edit-post-title" />
    </div>
    <div>
      <label for="edit-post-body">Content</label>
      <textarea
        name="edit-post-body"
        class="comment-textarea update-post-textarea"
      ></textarea>
    </div>
    <button class="update-post-btn" id="create-post-btn">Create</button>
  </div>
</article>

<a href="/dashboard/new-post" class="new-post-btn">+ New Post</a>