{{> header headline="Say What You Will"}}

<div class="box account-form">
  <div class="box-heading account-heading"></div>
  <div class="account-form-wrapper">
    <label for="signUp-username">Username</label>
    <input type="text" name="signUp-username" id="signUp-username" />
    <label for="signUp-password">Password</label>
    <input type="text" name="signUp-password" id="signUp-password" />
    <button type="submit" class="account-btn" id="sign-up-btn">Sign Up!</button>
    <a href="/login" class="account-link">Login Instead</a>
  </div>
</div>

<script src="/javascript/signUp.js"></script>