{{> header headline="Say What You Will"}}

<ol class="post-list">
{{> post-info post}}
</ol>

{{#if loggedIn}}
<form class="box comment-form">
  <div class="box-heading add-comment-heading"></div>
  <p>Comment</p>
  <div class="add-comment-body">
    <textarea name="comment-body" class="comment-textarea" id="comment-body"></textarea>
    <button class="submit-comment" id="submit-comment">Submit</button>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}