<ol class="post-list">
{{> post-info post}}
</ol>

{{#if loggedIn}}
<form class="box comment-form">
  <div class="box-heading add-comment-heading"></div>
  <p>Comment</p>
  <div class="add-comment-body">
    <textarea name="comment-body" class="comment-textarea"></textarea>
    <button type="submit" class="submit-comment">Submit</button>
  </div>
</form>
{{/if}}

{{> comments post.comments}}