* {
  box-sizing: border-box;
}

:root {
  --primary-color: rgba(35, 16, 16, 255);
  --secondary-color: rgba(217, 234, 211, 255);
}

/* Main Handlebars */
body,
html {
  margin: 0;
  padding: 0;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

header {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding-bottom: 5px;
}

p {
  font-size: 20px;
}

.header-wrapper {
  width: 90%;
  margin: 0 auto;
}

.page-title-wrapper {
  background-color: var(--secondary-color);
  width: fit-content;
  color: var(--primary-color);
  margin-left: 10px;
  border-radius: 15px;
  box-shadow: 7px 7px 0 rgba(168, 168, 168, 255);
}

.page-title {
  font-size: 42px;
  cursor: default;
  padding: 10px 20px;
}

nav {
  display: flex;
}

nav a,
nav button {
  font-size: 24px;
  text-decoration: none;
  color: var(--secondary-color);
  margin: 20px 70px 0 10px;
}

nav a:last-child,
nav button {
  margin-right: 0;
}

ol {
  list-style: none;
  padding: 0;
}

/* Posts and Comments */
/* boxes around posts and comments */
.post,
.comment {
  width: 90%;
  margin: 0 auto;
  border: 3px solid var(--primary-color);
  margin-bottom: 20px;
}

.post-heading {
  display: flex;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px 20px;
}

.post-heading a {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 26px;
}

.meta {
  margin-bottom: 3px;
  margin-left: 25px;
  font-size: 20px;
}

.post-content,
.comment-content {
  margin: 10px 20px;
}

/* Comments */
.comment-heading {
  padding: 25px 0 25px 0;
  background-color: var(--primary-color);
  margin-bottom: 30px;
}

.meta-comment {
  margin-bottom: 30px;
}
